<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<div class='zestard-bloglist' store_id='zeCty8Uqt4puI' product_id='{{ product.id }}'><img height="130" width="130" src='https://zestardshop.com/shopifyapp/related-products-and-blogs/public/image/loader_new.svg'/></div>
<script type="text/javascript" src="https://zestardshop.com/shopifyapp/related-products-and-blogs/public/js/related-products-and-blogs.js"></script>