<div class="container">
    <div class="content-block">
        <div class="rte rte--indented-images">
            <div class="about-pct"><img src="{{ 'hands.png' | asset_url }}" alt=""></div>
            <div class="about-content">
                <h1 class="page-title">{{ page.title }}</h1>
            </div>
            <div class="about-content">
                {{ page.content }}
            </div>
        </div>
    </div>
</div>
{% schema %}
    {
    "name": "Page Template",
    "settings": []
    }
{% endschema %}